@import "~bootstrap/scss/bootstrap";
@import "custom";

* {
    box-sizing: border-box;
  }

 
  .column {
    float: left;
    padding: 0px;
    
    
  }

   .first {
    width: 70%;
    
  }
   
  .second {
    width: 30%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .home h1{
      color: #000000;
      width: 500px !important;
      margin-top: 100px; 
      margin-bottom: 0;
  }
  .first span{
    color: #3C4852;
    width: 500px !important;
    padding: 0;
    margin: 0;
      
  }

  .second img{
    position: absolute;
    width: 440px;
    height: 450px;
    left: 825px;
    top: 68px;
  }