.header {
    padding: 10px;
    background: #3C4852;
}

a.navbar-brand{
  color: white;
  font-size: 25px;
}
.navbar-brand img{
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  
  .header img { 
    height: 30%;
  }
  
  
  }