.header {
    position: absolute;
    max-width: 2000px;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #3C4852;
}

.header img {
position: absolute;
height: 40%;
left: 52px;
top: 20px;
  }
  .header span{
    display: none;
  }

@media screen and (max-width: 600px) {
  
  .header img { 
    height: 30%;
  }
  
  
  }