
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
padding: 2rem 1rem;
display: table-row;
color: #fff;
background: #0F8797;
margin-top: auto;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    padding: 40px 10px 10px 70px;
  
    
  }

   .right {
    width: 30%;
  }
   .middle{
       width:20% ;
   }
  
  .left {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none !important;
    color: white !important;
}

 a:hover{
   text-decoration: none !important;
   color: white !important;
 }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

    .column p {
      font-size: 15px;
      flex-wrap: wrap;
      margin-right:1.5rem;
    }

    .column p span{
      font-size: 10px;
    }

    .column li a{
      font-size: 15px;
    }

    .column h1, h2, h3{
      font-size: 20px;
    }
  }

  .footer h1 {
    position: absolute;
    width: 249px;
    height: 55px;
    top: 61px;
    
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px 
      }

.footer h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px  
}
    

  p{
    font-family: Raleway;
    /*width: 518px;*/
    left: 103px;
    top: 131px;
    margin-top: 0.8rem;
    flex-wrap: wrap;
    

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #FFFFFF;
  }

  ul li{
    list-style: none;
    
    
  }
  ul li a {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    width: 518px;
    color: #fff;
    float: left;
    padding: 0px;
    margin-left: -40px;

    
  }

  p span {
   
    font-size: 15px;
  }

  .right li{
    display: inline;
    margin-right: 20px;
  }

 
